.pop-up-container {
  display: block;  
  position: fixed;
  inset:0;
  opacity: 0;
  pointer-events: none;
  height: 100vh ;
  width: 100vw;
  z-index: 2000;
}

.pop-up {
  position: absolute;
  background-color: #e6dac7;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: right;
  z-index: 2100;
}

.pop-up-container.show {
  opacity: 1;
  display:block;
  pointer-events: auto;
  left: -600px;

}

.party_pop-up-container {
  display: block;  
  position: fixed;
  inset:0;
  opacity: 0;
  pointer-events: none;
  height: 100vh ;
  width: 100vw;
  z-index: 2000;
}

.party_pop-up {
  background-color: #03735f;
  border: 5px solid white;
  color: white;
  position: absolute;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: right;
  z-index: 2100;
  pointer-events:none;
}

.party_pop-up-container.show {
  opacity: 1;
  display:block;
  pointer-events: none;

}


.objects_pop-up-container {
  display: block;  
  position: fixed;
  inset:0;
  opacity: 0;
  pointer-events: none;
  height: 100vh ;
  width: 100vw;
  z-index: 2000;
}

.objects_pop-up {
  background-color: #03735f;
  border: 5px solid white;
  color: white;
  position: absolute;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: right;
  z-index: 2100;
  pointer-events:none;
}

.objects_pop-up-container.show {
  opacity: 1;
  display:block;
  pointer-events: none;

}

.infoModal {            
  display: none;
  position: fixed;
  inset: 0;                   
  background: rgba(0,0,0,0.4);
  z-index: 2100;
  justify-content: center;
  align-items: center;
}

.infoModal.show {
  display: flex;            
}

.infoPopup {
  width: min(500px, 90vw);
  margin: 10vh auto;        
  padding: 1rem;
  border-radius: 0.5rem;
  border: 5px solid white;
  color: black;
  background:#e6dac7;
  position: absolute;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
}