.pop-up-container {
  display: block;  
  position: fixed;
  inset:0;
  opacity: 0;
  pointer-events: none;
  height: 100vh ;
  width: 100vw;
  z-index: 2000;
}

.pop-up {
  position: absolute;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: right;
  z-index: 2100;
}

.pop-up-container.show {
  opacity: 1;
  display:block;
  pointer-events: auto;
  left: -600px;

}

.party_pop-up-container {
  display: block;  
  position: fixed;
  inset:0;
  opacity: 0;
  pointer-events: none;
  height: 100vh ;
  width: 100vw;
  z-index: 2000;
}

.party_pop-up {
  background-color: #03735f;
  border: 5px solid white;
  color: white;
  position: absolute;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: right;
  z-index: 2100;
  pointer-events:none;
}

.party_pop-up-container.show {
  opacity: 1;
  display:block;
  pointer-events: none;

}