
html, body { height: 100%; margin: 0; }

.layout {
    display: grid;
    grid-template-areas:
        "header header header"
        "aventuriers carte objets "
        "footer footer footer ";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 3px;
    background-color: #e6dac7;
    padding: 5px;
    min-height:100svh
}

.aventuriers, .carte, .objets {
  min-height: 0; 
}

.layout div {
  /* background-color: white;*/
  padding: 10px;
  min-width: 0;
}

.layout div.header {
  grid-area: header;
  text-align: left;
  background-image: url(/assets/background-head.png);
  background-color: #e6dac7;
  background-size: auto 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.title{
  text-align: left;
}

.info-btn {
  white-space: nowrap;
}

.info {
  display: flex;
  align-items:flex-end;
}

.layout div.aventuriers {
  grid-area: aventuriers;
  display: flex;
}

.box-left{
  display: flex;
  flex-grow: 1;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
}

.box{
  background-color: #03735f;
  border: 5px #03735f;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  width: 150px;      /* your chosen size */
  height: 150px;     
  overflow: hidden; /* hides anything outside */
}

.box img {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  border-radius: 10px;
  object-fit: contain;
}

.box-right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
}

.vertical-txt{
  writing-mode:vertical-lr;
  transform: rotate(180deg);
}

.vertical-txt-right{
  writing-mode:vertical-lr;
  text-orientation:sideways;
}

.layout div.carte {
  grid-area: carte;
}
.layout div.objets {
  grid-area: objets;
  display: flex;
}

.layout div.footer {
  grid-area: footer;
  text-align: center;  
}

.left-choice{
  display: flex;
  flex-grow: 1;
  flex-direction: column;;
  align-items: flex-start;
}

.right-choice {
  display: flex;
  flex-grow: 1;
  flex-direction: column;;
  align-items: flex-end;
}

.imgArrow{
  width:40px;
  height:30px;
}

#card-img{
  align-items: center;
  width:80%;
  height: auto; 
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

