
html, body { height: 100%; margin: 0; }

.layout {
    background-color: #e6dac7;
    min-height:100svh;
}

.layout div {
  padding: 10px;
  min-width: 0;
}
 
.title{
  text-align: left;
}

.info-btn {
  white-space: nowrap;
}
